/* Your styles should be mobile-first and responsive */

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/

* {
  font-family: "Press Start 2P", cursive;
}

section {
  border: 2px solid black;
  margin: 10px;
}

h1, h2, h3, h4 {
  margin: 10px;
  text-align: center;
}

button {
  display: block;
  margin: 10px auto;
}
input {
  margin: 10px 0px 10px 10px;
}

form {
  padding: 10px;
  width: 90%;
  margin: auto;
  display: flex;
}
img {
  display: block;
  margin: 10px auto;
  max-width: 90%;
  max-height: 300px;
}

input[type=submit] {
  display: block;
  margin: 10px auto;
}

p {
  margin: 10px;
}

.green {
  color: green;
}
.red {
  color: red;
}
.orange {
  color: darkorange;
}
div {
  margin: auto;
}

.amazing {
  animation: pulse 1s infinite;
  display: inline-block;
}

@keyframes pulse {
0% {transform: scale(1);}
50% {transform: scale(1.07);}
100% {transform: scale(1);}
}

@media all and (min-width: 750px) {
  section {
    margin: auto;
    width: 700px;
  }
}
